.info{
	color:white;
	font-size: 20px;
}
.name{

}
.start{
	color:white;
}

.shop{
	color:white;
	font-size: 20px;

}




.shop2{
	color:white;

}

.shop3{
	color:white;
	font-size: 20px;

}

.shop4{
	color:white;
	font-size: 20px;

}

.shop5{
	color:white;
	font-size: 20px;

}

.shop6{
	color:white;
	font-size: 20px;

}

.shop7{
	color:white;
	font-size: 20px;

}

.shop8{
	color:white;
	font-size: 20px;

}

.help{
	color:white;
	font-size: 20px;

}

.web1{
	color:white;
	font-size: 20px;

}


.web2{
	color:white;
	font-size: 20px;

}



  .h1{
  	color:white;
	font-size: 20px;
  }
  .h3{
  	color:white;
	font-size: 20px;
  }